@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="profile-page">
    <div class="profile-container">
        <div class="profile-data-container">
            <div class="pfp">
                <img src="#"/>
            </div>
            <div class="profile-nickname">
                <h3>Name</h3>
            </div>
        </div>
        <div class="profile-description-container">
            <div class="profile-description">
                
            </div>
            <div class="profile-posts">

            </div>
        </div>
    </div>
</div>
